{% extends 'base.html' %}

{% block content %}
  <h2 class="register-heading"><center>Register</center></h2>
  <form class="register-form" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="{{ form.username.id_for_label }}">Username:</label>
      {{ form.username }}
      {% if form.username.errors %}
        <div class="text-danger">
          {% for error in form.username.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <div class="form-text form-text-left">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
    </div>
    <div class="white-line"></div>
    <div class="mb-3">
      <label for="{{ form.email.id_for_label }}">Email:</label>
      {{ form.email }}
      {% if form.email.errors %}
        <div class="text-danger">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="white-line"></div>
    <div class="mb-3">
      <label for="{{ form.password1.id_for_label }}">Password:</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <div class="text-danger">
          {% for error in form.password1.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <div class="form-text form-text-left">
        Your password can’t be too similar to your other personal information. Your password must contain at least 8 characters. Your password can’t be a commonly used password. Your password can’t be entirely numeric.
      </div>
    </div>
    <div class="mb-3">
      <label for="{{ form.password2.id_for_label }}">Password confirmation:</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <div class="text-danger">
          {% for error in form.password2.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <div class="form-text form-text-left">Enter the same password as before, for verification.</div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
{% endblock %}
